html {
	font-size: 72.5%;
}

* {
	font-family: 'Arima Madurai', cursive;
	color: #e4e4e4;
}

.lato {
	font-family: 'Lato', sans-serif;
}

body {
	font-size: 1.6rem;
	background-color: #1e6161;
}

main {
	position: absolute;
	right: 7%;
	top: 6%;
	left: 7%;
	display: flex;
	align-items: flex-end;
	padding-bottom: 0;
	flex-wrap: wrap;
	flex-direction: column;
}

#avatar {
	background-image: url('../img/me.jpg');
	width: 75px;
	height: 75px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

.tagline {
	text-transform: uppercase;
	font-size: 0.9rem;
	margin: 0;
	letter-spacing: 0.1rem;
}

h1 {
	font-size: 4.2rem;
	font-weight: 300;
}

h1, h2 {
	margin: 0;
	line-height: 1;
}

main > div {
	flex: 1;
}

.summary {
	margin-top: 4.5rem;
	font-size: 1.3rem;
	text-align: right;
	color: #b2b9bf;
	max-width: 450px;
}

.nm {
	color: #ffb81c;
	text-decoration: none;
}

.nm:hover {
	color: #002b49;
	text-decoration: underline;
	font-weight: bold;
}

.links > a {
	text-decoration: none;
	color: #ced3d6;
	opacity: 0.4;
	font-size: 1.4rem;
	letter-spacing: 1.2rem;
}

.links > a:hover {
	color: #cfcfcf;
	opacity: 1;
}
