#avatar {
	background-image: url('./me.jpg');
	width: 75px;
	height: 75px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.hero {
	width: 100%;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	background-color: var(--hero-bg-color);
	color: var(--main-font-color-light);
}

.summary {
	margin-top: 4.5rem;
	font-size: 1.3rem;
	text-align: right;
	color: var(--secondary-font-color-light);
	max-width: 450px;
}

.tagline {
	text-transform: uppercase;
	font-size: 0.9rem;
	margin: 0;
	letter-spacing: 0.1rem;
}

.nm {
	color: var(--link-main-color-light);
	text-decoration: none;
}

.nm:hover {
	color: var(--link-hover-color-light);
	text-decoration: underline;
	font-weight: bold;
}
