.links>a {
  text-decoration: none;
  color: #ced3d6;
  opacity: 0.4;
  font-size: 1.4rem;
  letter-spacing: 1.2rem;
  cursor: pointer;

  &:hover {
    color: #cfcfcf;
    opacity: 1;
  }
}

.hide {
  font-size: 0em;
  display: none;
  opacity: 0;
}